@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600&family=Karla:wght@400&family=IBM+Plex+Mono:wght@700&display=swap');

@layer base {
  body {
    @apply font-body bg-app-bg text-app-headline;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
  }
  
  #root {
    @apply min-h-screen;
  }
}
